// font size
$fz-14: 14px;
$fz-16: 16px;
$fz-18: 18px;
$fz-20: 20px;
$fz-22: 22px;
$fz-26: 26px;
$fz-32: 32px;
$fz-38: 38px;

// color
$fa: #fafafa;
$d9: #d9d9d9;
$c3: #333333;
$c6: #666666;
$ed: #ededed;
$b4: #b4282d;

// padding size
$pt-2: 2px;
$pt-14: 14px;
